<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="El logo de la pagina" width="360">
        <p>Lugar donde poner la barra de búsqueda</p>
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
            <br>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
    </header>
    <main>
        <img src="/img/img-home-banner.jpg" alt="Imagen del banner" width="360">
        <section>
            <h2>Basado en tu ultima compra</h2>
            <p>
                <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" width="360">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </p>
            <p>
                <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen de la macbook" width="360">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h3>MacBook Pro 2019</h3>
            </p>
            <p>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen del samsung galaxy" width="360">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
            </p>
            <p>
                <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen del samsung smart tv" width="360">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h3>SmartTv Samsung 43"</h3>
            </p>
        </section>
        <section>
            <h2>Ofertas</h2>
            <p>
                <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" width="360">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </p>
            <p>
                <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen de la macbook" width="360">
                <p>$230.000</p>
                <p>20% OFF</p>
                <h3>MacBook Pro 2019</h3>
            </p>
            <p>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen del samsung galaxy" width="360">
                <p>$70.500</p>
                <p>10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
            </p>
            <p>
                <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen del samsung smart tv" width="360">
                <p>$23.200</p>
                <p>5% OFF</p>
                <h3>SmartTv Samsung 43"</h3>
            </p>
        </section>
    </main>
</body>
</html>