<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado liebre</title>
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="El logo de la pagina">
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fas fa-search"></i></button>
        </div>
        <p class="info"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <ul>
                <li><a href="/">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>
    <main>
        <img src="/img/img-home-banner.jpg" alt="Imagen del banner" width="100%">
        <section>
            <form action="" method="POST">
                <h2>Registrarse</h2>
                <div class="form-group">
                    <label for="nombre">Nombres y apellidos</label>
                    <input type="text" name="nombre" id="nombre" required>
                </div>
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input type="text" name="usuario" id="usuario" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Contrseña</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="form-group">
                    <label for="password">Confirmar contrseña</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <h2>Fecha de nacimiento</h2>
                <div class="form-group">
                    <label for="nacimiento">Fecha de nacimiento</label>
                    <input type="date" name="nacimiento" id="nacimiento" required>
                </div>
                <div class="form-group">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" name="domicilio" id="domicilio" required>
                </div>
                <h2>Perfil usuario</h2>
                <div class="form-group">
                    <input type="radio" name="tipou" id="comprador" required>
                    <label for="comprador">Comprador</label>
                    <input type="radio" name="tipou" id="vendedor" required>
                    <label for="vendedor">Vendedor</label>
                </div>
                <h2>Intereses</h2>
                <div class="form-group">
                    <input type="checkbox" name="intereses" id="electro" required>
                    <label for="electro">Electro</label>
                    <input type="checkbox" name="intereses" id="moda" required>
                    <label for="moda">Moda</label>
                    <input type="checkbox" name="intereses" id="hogar" required>
                    <label for="hogar">Hogar</label>
                    <input type="checkbox" name="intereses" id="jugueteria" required>
                    <label for="jugueteria">Jugueteria</label>
                    <input type="checkbox" name="intereses" id="videsana" required>
                    <label for="videsana">Vida sana</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar">
                    <input type="submit" value="Borrar">
                </div>
            </form>
        </section>
    </main>
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>